{% extends "base.html.twig" %}

{% block title%}
    Marque : {{ brand.name }}
{% endblock %}
 {% block body %}
     <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
         <li class="breadcrumb-item active">{{ brand.name }}</li>
     </ol>
     <h1> Marque : {{ brand.name }}</h1>

     <div class="row">
         {% for product in brand.products %}


             <div class="col-3">
                 <div class="card">
                     <img class="img-fluid" src="{{ product.getPicture }}" alt="Image du produit">
                     <div class="card-body">
                         <h4 class="card-title">{{ product.getName }} ({{ product.getPrice / 100 }} &euro;)</h4>
                         <span class="badge badge-info">
                            {{ product.brand.getName }}
                        </span>
                         <p class="card-text">
                             {{ product.getDescription }}
                         </p>
                         <a href="{{ path('app_product', {'brand_id':
                             product.brand.id, 'product_id': product.id}) }}" class="btn btn-primary btn-sm">Détail</a>
                         <a href="#" class="btn btn-success btn-sm">Ajouter</a>

                     </div>
                 </div>
             </div>



         {% endfor %}
         <div class="col-3">
             <a href=" {{ path('app_product_create')}}" class="btn btn-grey ">Ajouter un produit</a>
         </div>
     </div>
 {% endblock %}
