{% extends "base.html.twig" %}
{% block title %}
    Page produit : {{ product.name }}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_seller',{'seller_id': product.brand.user.id }) }}">{{ product.brand.user.firstName }} {{ product.brand.user.lastName }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_brand',{'brand_id': product.brand.id }) }}">{{ product.brand.name }}</a></li>
        <li class="breadcrumb-item active">{{ product.name }}</li>
    </ol>
    <h1>
        {{ product.name }}
        ({{ product.price }}€)
    </h1>
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="{{ product.Picture }}" alt="Image du produit {{ product.name }}">
        </div>
        <div class="col">
            <span class="badge bg-secondary">{{ product.brand.name }}</span>
            <p>
                {{ product.Description }}
            </p>
            <p>
                Constructeur : {{ product.brand.user.firstName }} {{ product.brand.user.lastName }}
            </p>
            <a href="#" class="btn btn-success btn-lg">
                <i class="fas fa-shopping-cart"></i>
                Ajouter au panier</a>
            <a href=" {{ path('app_brand',{'brand_id': product.brand.id })}}" class="btn btn-grey ">Fiche Marque</a>
            <a href=" {{ path('app_seller',{'seller_id': product.brand.user.id })}}" class="btn btn-grey ">Fiche Vendeur</a>
            <a href=" {{ path('app_product_edit',{'product_id': product.id })}}" class="btn btn-grey ">Editer ce produit</a>

        </div>
    </div>

{% endblock %}