{% extends "base.html.twig" %}

{% block title%}
    Constructeur : {{ user.firstName }} {{ user.lastName }}
{% endblock %}
 {% block body %}
     <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
         <li class="breadcrumb-item active">{{ user.firstName }} {{ user.lastName }}</li>
     </ol>
     <h1> Constructeur : {{ user.firstName }} {{ user.lastName }}</h1>
     {% if app.user.id == user.id %}
     <div class="col-3">
         <a href=" {{ path('app_brand_create', {'id':
             user.id})}}" class="btn btn-light ">Ajouter une marque</a>
     </div>
     {% endif %}
     <h2>Liste des marques :</h2>
     <div class="row">
         {% for brand in user.brands %}


             <div class="col-3">
                 <div class="card">
                     <div class="card-body">
                         <h4 class="card-title">{{ brand.getName }} </h4>
                         <span class="badge badge-info">
                            {{ brand.getName }}
                        </span>
                         <p class="card-text">
                             {{ brand.getDescription }}
                         </p>
                         <a href="{{ path('app_brand', {'brand_id':
                             brand.id}) }}" class="btn btn-primary btn-sm">Détail</a>
                     </div>
                 </div>
             </div>


         {% endfor %}
     </div>

 {% endblock %}
